<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Test Suite">
    <listeners>
        <listener class-name="com.automation.orangehrm.utils.ExtentReportListener"/>
    </listeners>
    <test name="Regression Tests">
        <classes>
            <class name="com.automation.orangehrm.tests.LoginTest"/>
            <class name="com.automation.orangehrm.tests.PageTitleTest"/>
        </classes>
    </test>
</suite>
